@model IEnumerable<Category>
 
<ul class="list-group">
 
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-area="User" asp-controller="Products" asp-action="Index">All Products</a>
 
    </li>
 
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a class="nav-link text-dark" asp-area="User" asp-controller="Products" asp-action="ProductsByCategory" asp-route-categorySlug="@item.Slug">@item.CatName</a>
 
        </li>
 
    }
 

</ul>