@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to E-Commerce Website.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>


@*<h1 class="display-4 pb-5">All Products</h1>

        <div class="row">

            @foreach (var item in Model)
            {
                <div class="col-4">
                    <img src="~/media/products/@item.Image" class="img-fluid" alt="">
                    <h4>@item.ModelName</h4>
                    <div>
                        @item.PDescription
                    </div>
                    <p>
                        @item.UCost
                    </p>
                    <p>
                         <a href="#" class="btn btn-primary">Add to Cart</a>
                    </p>
            }
        </div>*@






